<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    <title>Compass Rose</title>
</head>
<body>
<!--------------
    Landing Page 
---------------->
    <header class="header" id="landingPage">
        <div class="headerTop">
            <img class="headerTitle" src="/images/crHeader.png" alt="Compass Rose Logo" />
            <img class="headerLogo" src="/images/crLogo.png" alt="Compass Rose Logo" />
        </div>
        <i class="fa fa-angle-double-down fa-5x" aria-hidden="true"></i>
    </header>
    <main>
        <nav>
            <div class="leftSide">
                <img class="navLogo" id="navLogo" src="/images/crTitle.png" alt="Compass Rose Logo" />
            </div>
            <div class="rightSide">
                <a class="topNav" id="navMarket">Market</a>
                <a class="topNav" id="navProfile">Profile</a>
                <a class="topNav" id="navCreateFlower">Flower</a>
                <a class="topNav" id="navCreateUser">User</a>
                <a class="topNav" id="navCart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </nav>
<!--------------
    Market Place 
---------------->
        <div class="marketPlace">
            <div class="searchMarket">
                <form class="searchBar">
                    <input type="text" placeholder="Search for Flower" name="search">
                    <button type="submit">Search</i></button>
                </form>
            </div>
            <div class="flowers">
                    <a class="flowerCardImgs" id="flower_1">
                        <img class="flowerImgs" src="/images/rose1.png" alt="" />
                        <p>Flower Name</p>
                        <p>Flower Type</p>
                        <p>Season of Bloom</p>
                        <p>Price per Clipping</p>
                        <button>Add to Cart</button>
                    </a>
                    <a class="flowerCardImgs" id="flower_2">
                        <img class="flowerImgs" src="/images/rose2.png" alt="" />
                        <p>Flower Name</p>
                        <p>Flower Type</p>
                        <p>Season of Bloom</p>
                        <p>Price per Clipping</p>
                        <button>Add to Cart</button>
                    </a>
                    <a class="flowerCardImgs" id="flower_3">
                        <img class="flowerImgs" src="/images/rose3.png" alt="" />
                        <p>Flower Name</p>
                        <p>Flower Type</p>
                        <p>Season of Bloom</p>
                        <p>Price per Clipping</p>
                        <button>Add to Cart</button>
                    </a>
                    <a class="flowerCardImgs" id="flower_4">
                        <img class="flowerImgs" src="/images/rose4.png" alt="" />
                        <p>Flower Name</p>
                        <p>Flower Type</p>
                        <p>Season of Bloom</p>
                        <p>Price per Clipping</p>
                        <button>Add to Cart</button>
                    </a>
                    <a class="flowerCardImgs" id="flower_5">
                        <img class="flowerImgs" src="/images/rose5.png" alt="" />
                        <p>Flower Name</p>
                        <p>Flower Type</p>
                        <p>Season of Bloom</p>
                        <p>Price per Clipping</p>
                        <button>Add to Cart</button>
                    </a>
                    <a class="flowerCardImgs" id="flower_6">
                            <img class="flowerImgs" src="/images/rose3.png" alt="" />
                            <p>Flower Name</p>
                            <p>Flower Type</p>
                            <p>Season of Bloom</p>
                            <p>Price per Clipping</p>
                            <button>Add to Cart</button>
                        </a>
            </div>
        </div>

<!--------------
    Create User 
---------------->
        <div class="userCreatePage">
            <form class="forms" id="newUserForm" action="/profile" method="post" enctype="multipart/form-data">
                <h2>Create User</h2>
                <div class="formInputUsers">
                    <div class="userUploadImg">
                        <input type="file" name="avatar" />
                    </div>
                    <!-- <input action="/profile" method="post" enctype="multipart/form-data" class="formImg">
                        <input type="file" name="avatar" />
                    </input> -->
                    <div class="textFields">
                        <input type="text" name="fullName" placeholder="Full Name" />
                        <input type="email" name="email" placeholder="Email" />
                        <input type="text" name="dateOfBirth" placeholder="Date of Birth" />
                    </div>
                </div>
                <button type="submit" value="Register" id="register">Register</button>
            </form>
        </div>
<!--------------
    Create Flower 
---------------->
        <div class="flowerCreatePage">
            <h2>Create Flower</h2>
            <form class="forms" id="newFlowerForm">
                <div class="formInputFlowers">
                    <form action="/profile" method="post" enctype="multipart/form-data" class="formImg">
                        <input type="file" name="avatar" />
                    </form>
                    <div class="textFields">
                        <input type="text" name="name" placeholder="Flower Name" />
                        <input type="text" name="type" placeholder="Type of Flower" />
                        <input type="text" name="season" placeholder="Season of Bloom" />
                        <input type="text" name="price" placeholder="How Much per Clipping" />
                    </div>
                </div>
                <button type="submit" value="Register" id="registerFlower">Create Flower</button>
            </form>
        </div>
<!--------------
    Profile 
---------------->
        <div class="profilePage">
            <h2>User Profile</h2>
            <div class="profileData">
                <img class="profileImg" src="#" alt="Profile Picture" />
                <div class="profileTextFields">
                    <p>Name</p>
                    <p>email</p>
                    <p>Date of Birth</p>
                    <p>Number of Products</p>
                </div>
            </div>
            <div class="profileContent">
                <div class="productFavoriteButtons">
                    <button class="productButton" id="showProduct">Products</button>
                    <button class="favoriteButton" id="showFavorite">Favorites</button>
                </div>
                <div class="products">
                    <a class="productImgs">Product 1</a>
                    <a class="productImgs">Product 2</a>
                    <a class="productImgs">Product 3</a>
                    <a class="productImgs">Product 4</a>
                    <a class="productImgs">Product 5</a>
                </div>
                <div class="favorites">
                    <a class="favoriteImgs">Favorite 1</a>
                    <a class="favoriteImgs">Favorite 2</a>
                    <a class="favoriteImgs">Favorite 3</a>
                    <a class="favoriteImgs">Favorite 4</a>
                    <a class="favoriteImgs">Favorite 5</a>
                </div>
            </div>
            <div id='userTarget'>    
            </div>
        </div>
<!--------------
    Shopping Cart 
---------------->
        <div class="cart">
            <div class="hideShoppingCart" id="hide">
                <i class="fas fa-angle-right fa-2x"></i>
            </div>
            <div class="shoppingCart">
                <div class="shoppingTitle">
                    <h4>Shopping Cart</h4>
                </div>
                <div class="shoppingList">
                    <li>flower 1</li>
                    <li>flower 2</li>
                    <li>flower 3</li>
                    <li>flower 4</li>
                </div>
                <div class="purchaseButton">
                    <button>Purchase Flowers</button>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>


<!-- jQuery -->
    <script src="scripts/jquery-3.4.0.js"></script>
<!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
</body>
</html>