<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    <title>Compass Rose</title>
</head>
<body>
<!--------------
    Landing Page 
---------------->
    <header class="header" id="landingPage">
        <div class="headerTop">
            <img class="headerTitle" src="/images/crHeader.png" alt="Compass Rose Logo" />
            <img class="headerLogo" src="/images/crLogo.png" alt="Compass Rose Logo" />
        </div>
        <i class="fa fa-angle-double-down fa-5x" aria-hidden="true"></i>
    </header>
    <main>
        <nav>
            <div class="leftSide">
                <img class="navLogo" id="navLogo" src="/images/crTitle.png" alt="Compass Rose Logo" />
            </div>
            <div class="fa fa-bars fa-2x"></div>
            <div class="rightSide">
                <a class="topNav" id="navMarket">Market</a>
                <a class="topNav" id="navProfile">Profile</a>
                <a class="topNav" id="navCreateFlower">Flower</a>
                <a class="topNav" id="navCreateUser">Create</a>
                <a class="topNav" id="navTeam">Team</a>
                <a class="topNav" id="navCart"><i class="fas fa-shopping-cart"></i></a>
                <a class="topNav" id="navCartHide"><i class="fas fa-angle-up"></i></a>
            </div>
        </nav>
<!--------------
    Market Place 
---------------->
        <div class="marketPlace">
            <div class="searchMarket">
                <form class="searchBar">
                    <input type="text" placeholder="Search for Flower" name="search">
                    <button type="submit" id="searchButton">Search</i></button>
                </form>
            </div>
            <div class="flowers">
                <div class="flowerCardImgs" id="flower_1">
                    <img class="flowerImgs" src="/images/rose1.png" alt="" />
                    <p>Flower Name</p>
                    <p>Flower Type</p>
                    <p>Season of Bloom</p>
                    <p>Price per Clipping</p>
                    <button id="addToCart">Add to Cart</button>
                </div>
                <div class="flowerCardImgs" id="flower_2">
                    <img class="flowerImgs" src="/images/rose2.png" alt="" />
                    <p>Flower Name</p>
                    <p>Flower Type</p>
                    <p>Season of Bloom</p>
                    <p>Price per Clipping</p>
                    <button id="addToCart">Add to Cart</button>
                </div>
                <div class="flowerCardImgs" id="flower_3">
                    <img class="flowerImgs" src="/images/rose3.png" alt="" />
                    <p>Flower Name</p>
                    <p>Flower Type</p>
                    <p>Season of Bloom</p>
                    <p>Price per Clipping</p>
                    <button id="addToCart">Add to Cart</button>
                </div>
                <div class="flowerCardImgs" id="flower_4">
                    <img class="flowerImgs" src="/images/rose4.png" alt="" />
                    <p>Flower Name</p>
                    <p>Flower Type</p>
                    <p>Season of Bloom</p>
                    <p>Price per Clipping</p>
                    <button id="addToCart">Add to Cart</button>
                </div>
                <div class="flowerCardImgs" id="flower_5">
                    <img class="flowerImgs" src="/images/rose5.png" alt="" />
                    <p>Flower Name</p>
                    <p>Flower Type</p>
                    <p>Season of Bloom</p>
                    <p>Price per Clipping</p>
                    <button id="addToCart">Add to Cart</button>
                </div>
                <div class="flowerCardImgs" id="flower_6">
                    <img class="flowerImgs" src="/images/rose3.png" alt="" />
                    <p>Flower Name</p>
                    <p>Flower Type</p>
                    <p>Season of Bloom</p>
                    <p>Price per Clipping</p>
                    <button id="addToCart">Add to Cart</button>
                </div>
            </div>
        </div>

<!--------------
    Create User 
---------------->
        <div class="userCreatePage">
            <form action="/profile" method="post" enctype="multipart/form-data" class="forms" id="newUserForm" >
                <h2>Create User</h2>
                <div class="formInputUsers">
                    <div class="userUploadImg">
                        <input type="file" name="avatar" />
                    </div>
                    <!-- <input action="/profile" method="post" enctype="multipart/form-data" class="formImg">
                        <input type="file" name="avatar" />
                    </input> -->
                    <div class="textFields">
                        <input type="text" name="fullName" placeholder="Full Name" />
                        <input type="email" name="email" placeholder="Email" />
                        <input type="text" name="dateOfBirth" placeholder="Date of Birth" />
                    </div>
                </div>
                <button type="submit" value="Register" id="register">Register</button>
            </form>
        </div>
<!--------------
    Create Flower 
---------------->
        <div class="flowerCreatePage">
            <form action="/profile" method="post" enctype="multipart/form-data" class="forms" id="newFlowerForm">
                <h2>Create Flower</h2>
                <div class="formInputUsers">
                    <div class="userUploadImg">
                        <input type="file" name="avatar" />
                    </div>
                    <div class="textFields">
                        <input type="text" name="name" placeholder="Flower Name" />
                        <input type="text" name="type" placeholder="Type of Flower" />
                        <input type="text" name="season" placeholder="Season of Bloom" />
                        <input type="text" name="price" placeholder="How Much per Clipping" />
                    </div>
                </div>
                <button type="submit" value="Register" id="registerFlower">Create Flower</button>
            </form>
        </div>
<!--------------
    Profile 
---------------->
        <div class="profilePage">
            <h2>User Profiles</h2>
            <div class="profiles" id='userTarget'> <!-- id='userTarget' -->
            </div>
        </div>

<!--------------
    Our Team 
---------------->

<div class="ourTeam">
    <h2>Meet The Team</h2>
    <p class="teamBlurb">To celebrate the season of spring, 
        may happiness radiate like the fragrance of a flower
        and draw all good things towards you.</p>
    <div class="row">
        <div class="columnTeam">
            <div class="cardTeam">
                <img src="https://avatars2.githubusercontent.com/u/40311605?s=460&v=4" alt="Kanjamad Bosel" style="width:100%">
                <div class="container">
                    <h2>Kanjamad Bosel</h2>
                    <p class="titleTeam">Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <div class="icons">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="columnTeam">
            <div class="cardTeam">
                <img src="https://ca.slack-edge.com/T0351JZQ0-UH05BGDGQ-60b879e75817-48" alt="Joseph Rohman" style="width:100%">
                <div class="container">
                    <h2>Joseph Rohman</h2>
                    <p class="titleTeam">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <div class="icons">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="columnTeam">
            <div class="cardTeam">
                <img src="https://ca.slack-edge.com/T0351JZQ0-UGFLJ440P-72c9f947e75d-48" alt="Johnson Vo" style="width:100%" />
                <div class="container">
                    <h2>Johnson Vo</h2>
                    <p class="titleTeam">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <div class="icons">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------
    Shopping Cart 
---------------->
        <div class="cart">
            <div class="hideShoppingCart" id="hide">
                <i class="fas fa-angle-right fa-2x"></i>
            </div>
            <div class="shoppingCart">
                <div class="shoppingTitle">
                    <h4>Shopping Cart</h4>
                </div>
                <div class="shoppingCartList">
                    <ul class="shoppingList">
                    </ul>
                </div>
                <div class="purchaseButton">
                    <button>Purchase Flowers</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="icons">
            <i class="fab fa-instagram fa-3x"></i>
            <i class="fab fa-facebook-square fa-3x"></i>
            <i class="fab fa-google-plus-square fa-3x"></i>
            <i class="fab fa-linkedin fa-3x"></i>
        </div>
    </footer>

<!-- jQuery -->
    <script src="scripts/jquery-3.4.0.js"></script>
<!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
</body>
</html>