/* All __________________________________________ */
Body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    display: none;
}

input{
    margin: .5vh;
}

.headerTop {
    display: flex;
    align-content: center;
    align-items: center;
    height: 15vw;
}

.headerTitle {
    width: 60vw;
    height: 8vw;
    margin: 0 1.5vw 0 0;
}

.headerLogo {
    width: 15vw;
    height: 15vw;
}

.fa-angle-double-down{
    color: #BE2030;
}

/* Nav __________________________________________ */

nav {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 100vw;
    text-align: center;
    background: linear-gradient(#BC202F, 75%, transparent);
}

.leftSide {
    display: flex;
    margin: 1vh 0 0 1vw;
}

.navLogo {
    height: 4.5vh;
    width: auto;
}

.rightSide {
    display: flex;
    margin-right: 1vw;
}

.topNav {
    padding: 1vw;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
}

/* Market __________________________________________ */
.marketPlace {
    display: none;
}

.searchMarket {
    display: flex;
    justify-content: flex-end;
    margin: 2vw 1vw 2vw 0;
}

.flowers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 2vw;
}

.flowerCardImgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22vw;
    height: 30vw;
    margin: 1vw;
    background-color: white;
    filter: drop-shadow(0 0 0.5rem grey);
}

.flowerImgs {
    width: 22vw;
    height: 22vw;
}

p {
    font-size: 1vw;
    margin: .25vw;
}


/* Create User __________________________________________ */
.userCreatePage {
    display: none;
    height: 100vh;
}

.forms {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 10vh auto;
}

.formInputUsers {
    display: flex;
    flex-direction: row;
    background-color: #7FDBC9;
}

/* Create Flower __________________________________________ */
.flowerCreatePage {
    display: none;
    height: 100vh;
}

.formInputFlowers {
    display: flex;
    flex-direction: row;
    background-color: #7FDBC9;
}

.formImg{
    width: 20vw;
    height: 20vw;
}

.textFields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
}


/* Profile __________________________________________ */
.profilePage {
    display: none;
    height: 100vh;
}

.profileData {
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin: 0 auto;
    background-color: #7FDBC9;
}

.profileImg {
    width: 20vw;
    height: 20vw;
}

.profileContect {
    display: flex;
    flex-direction: column;
}

.productFavoriteButtons {
    display: flex;
    margin-left: 1vw;
}

.productButton {
    background-color: beige;
    
}

.favoriteButton {
    background-color: beige;
    margin-left: 1vw;
}

.products {
    display: none;
    flex-wrap: wrap;
}

.productImgs {
    margin: 1vw auto;
    width: 22vw;
    height: 22vw;
    border: 1px solid black;
}

.favorites {
    display: none;
    flex-wrap: wrap;
}

.favoriteImgs {
    margin: 1vw auto;
    width: 22vw;
    height: 22vw;
    border: 1px solid black;
}

/* Shopping Cart __________________________________________ */

.cart{
    display: none;
    position: fixed;
    top: 5vh;
    right: 1vw;
    filter: drop-shadow(0 0 0.5rem grey);
}

.hideShoppingCart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    border-radius: 1vw 0 0 1vw;
    background-color: #BE2030;
}

.fa-angle-right {
    color: white;
}

.shoppingCart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width: 20vw;
    border-radius: 0 1vw 1vw 0;
    background-color: white;
}

.shoppingTitle{
    margin-left: 1vw;
}

.shoppingList{
    margin-left: 1vw;
}

.purchaseButton{
    margin-left: 1vw;
}

/* .shoppingTitle{
} */

.purchaseButton{
    margin-bottom: 5vh;
}

/* Ipad Screen */
@media only screen and (max-width: 770px) {
    .flowerImgs{
        width: 30.666vw;
        height: 30.666vw;
    }
}

/* Iphone Screen */
@media only screen and (max-width: 500px) {
    .flowerImgs{
        width: 46vw;
        height: 46vw;
    }
}